#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.size{
  font-size: 30px;
}

input {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid rgba(168, 168, 168, 0.8);
  margin-bottom: 10px;
}

